[submodule "third_party/dacapo"]
	path = third_party/dacapo
	url = git@github.com:mingerfan/dacapo-modified.git
[submodule "third_party/ckks-runtime"]
	path = third_party/ckks-runtime
	url = git@github.com:mingerfan/ckks-runtime.git
